 # Data Types and Structures Questions

1. What are data structures, and why are they important?

 - Specialized formats known as data structures are used to manage, arrange, and store data in a computer's memory or storage. In order to ensure effective operations like insertion, deletion, searching, and sorting, they specify how data is organized, accessed, and altered.
Data Structure Types

    Structures That Are Linear

        Arrays are contiguous, fixed-size memory.

        Linked lists are made up of dynamic nodes connected by pointers.

        LIFO stands for Last-In-First-Out, which is similar to a stack of plates.

        FIFO (First-In-First-Out) queues, which resemble ticket lines.

    Structures That Are Not Linear

        Trees: Hierarchical (for quick lookups, use Binary Search Trees, for example).

        Networks with nodes and edges, such as social ties, are called graphs.

    Hash-Oriented

        Key-value pairs for O(1) average-time access are known as hash tables.

    Particularized Structures

        Heaps: Based on priorities (used in scheduling).

        Attempts: Effective text retrieval (autocomplete, for example).

What Makes Data Structures Vital?

    Effectiveness

        They maximize both space (memory) and time (speed).

        For instance, looking through a hash

2. Explain the difference between mutable and immutable data types with examples?

 - 1. Mutable Data Types

    Definition: Things that, once created, can have their state (data) changed.

    For instance:

        Lists ([])

        Dictionary ({})

        Sets (set())

        ByteArrays (bytearray())

In [52]:
fruits = ["apple", "banana"]
fruits[0] = "orange"  # Modifies the list
print(fruits)  # Output: ["orange", "banana"]

['orange', 'banana']

Immutable Data Types

    Definition: Things that, once created, cannot be altered in state.

    For instance:

        Numbers (int)

        It floats.

        Strings (str)

        (()) tuples

        (frozenset()) Frozen Sets

    Example (String, Immutable):

In [53]:
name = "Alice"
name[0] = "B"  # ❌ Error: Strings are immutable!

TypeError: 'str' object does not support item assignment

# Rather, a fresh string needs to be made:

In [ ]:
name = "B" + name[1:]  # Creates a new string
print(name)  # Output: "Blice"

3. What are the main differences between lists and tuples in Python ?
 -  Part

List

Tuple

Changeability

✅ Changeable—can be changed

❌ Unchangeable – can't be changed

Syntax

The brackets are [1, 2, 3].

(1, 2, 3) Parentheses

How well it works

Slower because of how it behaves dynamically

Faster (because it can't be changed)

Ways

More built-in methods, like append()

Less built-in ways

Example of a Use Case

When information can change over time

When data should not change

How much memory is being used

Takes up more memory

Takes up less memory

Can be a Key in a Dictionary

❌ No (not hashable)

Yes, but only if all the parts can be hashed.

Safety

More likely to change without meaning to

Less likely to be changed by accident

In [ ]:
# List
my_list = [1, 2, 3]
my_list[0] = 10       # ✅ Works

# Tuple
my_tuple = (1, 2, 3)
# my_tuple[0] = 10     ❌ Error: 'tuple' object does not support item assignment

4. Describe how dictionaries store data?
 - Dictionaries store data in key-value pairs using a hash table. Each key is hashed to a memory location where its value is stored.

5.	Why might you use a set instead of a list in Python?
 - To store unique elements only.
To perform faster membership tests (in is faster in sets).

6. What is a string in Python, and how is it different from a list ?
 - string is a sequence of characters and it's is immutable
A list is a sequence of elementsand it's mutable and can contain different types.

In [54]:
my_list = [1, "apple", True, 3.14]
my_list[1] = "banana"  # Lists are mutable
print(my_list)  # Output: [1, "banana", True, 3.14]

[1, 'banana', True, 3.14]

 7. How do tuples ensure data integrity in Python?
  - Because tuples are immutable, their data can't be altered accidentally, ensuring that values remain consistent.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table maps keys to values using a hash function. Dictionaries in Python are built on hash tables to provide constant-time lookup.

9. Can lists contain different data types in Python?
  -  yes list can contain different data type

In [55]:
mixed_list = [42, "Hello", 3.14, True, [1, 2, 3], {"name": "Alice"}]

10. Explain why strings are immutable in Python?
 - For memory efficiency, thread safety, and because they are frequently used as dictionary keys (which require immutability for hashing).

11.DP What advantages do dictionaries offer over lists for certain tasks?
 - Faster lookups using keys.
Key-value mapping for better data representation. More semantic clarity when data has identifiers.

12.P Describe a scenario where using a tuple would be preferable over a list?
 - A tuple would be preferable over a list when you need to represent a fixed immutable sequence of data like a coordinate point or a set of constants.

13.  How do sets handle duplicate values in Python?
 - An unordered, mutable collection of distinct elements is called a set in Python. This implies:

In [56]:
numbers = {1, 2, 2, 3, 3, 3}
print(numbers)  # Output: {1, 2, 3} (duplicates are removed)

{1, 2, 3}

14.  How does the “in” keyword work differently for lists and dictionaries?
  -  in conjunction with lists

    Verifies whether the value is present in the list.

    carries out a linear scan, which is slow for long lists.

    O(n) time complexity (becomes slower as the list grows).

In [57]:
fruits = ["apple", "banana", "orange"]
print("banana" in fruits)  # True (checks values)
print("grape" in fruits)   # False

True
False

15. Can you modify the elements of a tuple? Explain why or why not?
 - No. we cannot modify Tuples becasue they are immutable so once created elements can't be changed.

16.  What is a nested dictionary, and give an example of its use case?
  - A dictionary that has other dictionaries as values is called a nested dictionary. Similar to how you might arrange information in a tree-like structure, this produces a hierarchical structure that allows you to arrange data in several levels.

In [58]:
students = {"101": {"name": "Amit", "age": 20},"102": {"name": "Priya", "age": 22}}
print(students)

{'101': {'name': 'Amit', 'age': 20}, '102': {'name': 'Priya', 'age': 22}}

17.  Describe the time complexity of accessing elements in a dictionary?
 - Average-case: O(1) Accessing an item in a dictionary is usually very fast Worst-case (rare): O(n) due to hash collisions.

18.  In what situations are lists preferred over dictionaries?
 - When data has no unique key.
When order matters (before Python 3.7).
For simple sequences like numbers, names, etc.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Before Python 3.7, dictionaries did not maintain insertion order. From Python 3.7+, they preserve order but still focus on key-based access. Retrieval is based on key, not position.

20.  Explain the difference between a list and a dictionary in terms of data retrieval?
 - The way you access the elements and the underlying data structure that permits this access is the primary distinction between lists and dictionaries when it comes to data retrieval.

In [59]:
fruits = ["apple", "banana", "cherry"]

# Access by index (position)
print(fruits[1])  # Output: "banana" (O(1) operation)

# Finding an item by value (slow)
index = fruits.index("cherry")  # O(n) operation

banana

 # Practical Questions

1.  Write a code to create a string with your name and print it?

In [60]:
# Create a string variable containing my name
my_name = "manoranjan "

# Print the string
print(my_name)

manoranjan

2. Write a code to find the length of the string "Hello World"

In [61]:
# Define the string
my_string = "Hello World"

# Calculate and print its length
string_length = len(my_string)
print("The length of the string is:", string_length)

The length of the string is: 11

3.  Write a code to slice the first 3 characters from the string "Python Programming"

In [62]:
text = "Python Programming"
first_three = text[:3]  # Slice from start (index 0) up to but not including index 3
print(first_three)      # Output: Pyt

Pyt

4.  Write a code to convert the string "hello" to uppercase?

In [63]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)  # Output: HELLO

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [64]:
original_string = "I like apple"
new_string = original_string.replace("apple", "orange")
print(new_string)  # Output: I like orange

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it?

In [65]:
list1 = [1, 2, 3, 4, 5]
print(list1)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [66]:
my_list = [1, 2, 3, 4]
my_list.append(10)  # Adds 10 to the end of the list
print(my_list)      # Output: [1, 2, 3, 4, 10]

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [67]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)  # Removes the first occurrence of 3
print(numbers)     # Output: [1, 2, 4, 5]

[1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [68]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]  # Index 1 refers to the second element
print(second_element)        # Output: 'b'

b

10.  Write a code to reverse the list [10, 20, 30, 40, 50].?

In [69]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()  # Reverses the list in-place
print(numbers)     # Output: [50, 40, 30, 20, 10]

[50, 40, 30, 20, 10]

11. . Write a code to create a tuple with the elements 100, 200, 300 and print ?

In [70]:
# Create a tuple
my_tuple = (100, 200, 300)

# Print the tuple
print(my_tuple)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

In [71]:
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]  # -2 refers to the second-to-last element
print(second_last)  # Output: 'blue'

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [72]:
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print(minimum)  # Output: 5

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [73]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)  # Output: 1

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [74]:
# Create a tuple of fruits
fruits = ('apple', 'banana', 'orange')

# Check if "kiwi" is in the tuple
if 'kiwi' in fruits:
    print("Yes, 'kiwi' is in the fruits tuple!")
else:
    print("No, 'kiwi' is not in the fruits tuple.")

No, 'kiwi' is not in the fruits tuple.

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [75]:
# Create a set
my_set = {'a', 'b', 'c'}

# Print the set
print(my_set)

{'c', 'a', 'b'}

17. . Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [76]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()  # Removes all elements
print(my_set)   # Output: set()

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [77]:
my_set = {1, 2, 3, 4}
my_set.remove(4)  # Removes the element 4
print(my_set)     # Output: {1, 2, 3}

{1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [78]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [79]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [80]:
# Create a dictionary
person = {
    "name": "seema",
    "age": 30,
    "city": "New York"
}

# Print the dictionary
print(person)

{'name': 'seema', 'age': 30, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [81]:
# Original dictionary
person = {'name': 'rahul', 'age': 25}

# Add new key-value pair
person['country'] = 'USA'

# Print the updated dictionary
print(person)

{'name': 'rahul', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [82]:
person = {'name': 'sanjukta', 'age': 30}
name_value = person['name']
print(name_value)  # Output: Alice

sanjukta

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [83]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']  # Removes the key "age" and its value
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [84]:
person = {'name': 'manoranjan', 'city': 'odisha'}
if 'city' in person:
    print("The key 'city' exists!")
else:
    print("The key 'city' does not exist.")

The key 'city' exists!

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [85]:
# Create a list
my_list = [1, 2, 3, "apple", "banana"]

# Create a tuple (immutable)
my_tuple = (10, 20, 30, "red", "blue")

# Create a dictionary (key-value pairs)
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "Paris"
}

# Print all three
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 'apple', 'banana']
Tuple: (10, 20, 30, 'red', 'blue')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris'}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [86]:
import random

# Generate 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [40, 48, 77, 80, 98]

28. Write a code to create a list with strings and print the element at the third index.

In [87]:
# Create a list of strings
fruits = ["apple", "banana", "cherry", "date", "elderberry", "fig"]

# Print the element at index 3 (4th element)
print("Element at index 3:", fruits[3])

Element at index 3: date

29.  Write a code to combine two dictionaries into one and print the result

In [88]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

dict1.update(dict2)  # Adds dict2's key-value pairs to dict1
print("Combined dictionary:", dict1)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30.  Write a code to convert a list of strings into a set.

In [89]:
# List of strings (with possible duplicates)
string_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert to a set
string_set = set(string_list)

# Print the result
print("Original list:", string_list)
print("Converted set:", string_set)

Original list: ['apple', 'banana', 'cherry', 'apple', 'banana']
Converted set: {'cherry', 'banana', 'apple'}